{% extends "base.html" %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'stores/css/stores.css' %}" />
{% endblock %} 
{% block main_content %}
<!--Container, row, col, sr, fw, fs, p, m- classes are from Bootstrap-->
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 main-window">
      <div class="row">
        <h2 class="text-center my-4 fw-bold">Find Stores</h2>
        {% for store in stores %}
        <div class="col-6 store-div text-center">
          <p class="black-button text-uppercase text-center">{{ store.city }}</p>
          <p class="fw-bold green-button text-uppercase text-center">{{ store.name }}</p>
          <p class="fw-bold text-decoration-underline">Address:</p>
          <p class="text-capitalize">{{ store.address }}</p>
          <p class="fw-bold text-decoration-underline">Phone number:</p>
          <p>{{ store.phone_number }}</p>
          <p class="fw-bold text-decoration-underline">Opening hours:</p>
          <p>{{ store.open_hours }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
