{% extends "base.html" %} 
{% load static %} 
{% block main_content %}
<!--Container, row, col, sr, fw, fs, p, m- classes are from Bootstrap-->
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 main-window text-center">
        <h2 class="text-center text-uppercase my-3">Something went wrong</h2>
        <p class="text-center">The page you were looking for could not be found</p>
        <a class="custom-a text-center" href="{% url 'index' %}">Back to index page</a>
    </div>
  </div>
</div>
{% endblock %}
