{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 main-window">
                <div class="row">
                    <div class="col-12 center-div">
                        <h2 class="custom-h1">Fitness Equipment <i class="fas fa-dumbbell light-green-text fs-2"></i></h2>
                    </div>
                    <div class="col-6 offset-3 my-3">
                             <p class="black-text">
                             Welcome to Fitness Equipment, here you will find all the equipment you need to get and
                             stay in shape. Browse through our products and categories to find what you need.
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Categories</h5>
                        {% for category in categories %}
                            <div class="text-center my-3">
                                <a href="{% url 'products' %}?category={{ category }}" class="black-text">
                                    {{ category }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Products</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}