{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block main_content %}
    <!--Container, row, col, sr, fw, fs, p, m- classes are from Bootstrap-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 main-window">
                <div class="row">
                    <div id="main-image" class="col-12 center-div">
                        <div class="center-div">
                            <h2 class="custom-h1">Fitness Equipment</h2>
                        </div>
                    </div>
                    <div class="col-10 offset-1 my-3">
                             <p class="black-text text-center">
                             Welcome to Fitness Equipment, here you will find all the equipment you need to get and
                             stay in shape. Browse through our products and categories to find what you need, you can shop
                             online or look for any of our physical stores in your area.
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Limited offer! 50% discount</h5>
                        {% for product in fifty_percent_discount %}
                        <div class="col-2 my-3">
                            <div class="row product-border">
                                <div class="col-12">
                                    <img class="small-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </div>
                                <div class="col-12">
                                    <a href="/products/{{ product.id }}" class="black-text">
                                        {{ product.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Categories</h5>
                        <div class="row text-center my-3">
                        {% for category in categories %}
                                <div class="col-4 my-3">
                                    <div class="row product-border">
                                        <div class="col-12">
                                            <img class="small-image" src="{{ category.image_url }}" alt="{{ category.name }}">
                                        </div>
                                        <div class="col-12">
                                            <a href="{% url 'products' %}?category={{ category }}" class="black-text">
                                                {{ category }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Products</h5>
                        <div class="row text-center my-3">
                            {% for product in products %}
                                <div class="col-4 my-3">
                                    <div class="row product-border">
                                        <div class="col-12">
                                            <img class="small-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                                        </div>
                                        <div class="col-12">   
                                            <a class="black-text" href="/products/{{ product.id }}">
                                                {{ product.name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="col-12 my-3">
                        <h5 class="text-center text-uppercase fw-bolder custom-h5">Manufacturers</h5>
                        <div class="row text-center my-3">
                            {% for manufacturer in manufacturers %}
                                <div class="col-12 my-3 text-center">
                                   <a class="custom-a" href="{% url 'products' %}?manufacturer={{ manufacturer }}">{{ manufacturer }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}