.main-window {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 200px;
    background-color: #ffffff;
    border-radius: .25rem;
    opacity: 0.9;
}

.custom-h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #a5d6a7;
    font-weight: 800;
    background-color: #000000;
    display: inline-block;
    padding: 10px;
    border-radius: .25rem;
}