body {
    background: url("/media/images/dumbbell-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}


.bg-black {
    background-color: #000000;
}

.black-text {
    color: #000000;
}

.light-green-text {
    color: #a5d6a7;
}

.light-green-text:hover {
    color: #4caf50
}


/*Header*/

#custom-search-group, #custom-search-group-2, #custom-search-icon-wrap, #custom-search-icon-wrap-2 {
    padding: 4px;
    background-color: #ffffff;
    border: none;
    text-align: center;
    color: #000000;
}

#custom-search-group {
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#no-show-btn, #no-show-btn-2 {
   background-color: #ffffff;
   border: none;
}

#brand-name {
    margin-left: 70px;
}

.navbar {
    padding: 20px;
    opacity: 0.8;
}

.header-icons {
    font-size: x-large;
    margin-left: 30px;
    margin-right: 30px;
}

.hamburger-icon {
    height: 6px;
    width: 40px;
    margin-bottom: 5px;
    background-color: #a5d6a7;
}

.shop-icons-wrap {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*Media queries*/

@media only screen and (min-width: 992px) {
    #brand-name {
        margin-left: 10px;
    }
}