body {
    background: url("/media/images/dumbbell-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    /* this part is taken from a post by user name m.spyratos to make the footer stick to the bottom: 
    https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b  
    */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content, #allauth-main {
    /* this part is also taken from the same post as the mentioned in the body*/
    flex: 1;
}

.main-window {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 200px;
    background-color: #ffffff;
    border-radius: .25rem;
    font-weight: 600;
}

.bg-black {
    background-color: #000000;
}

.black-text {
    color: #000000;
}

.black-text:hover {
    text-decoration: none;
    color: #000000;
}

.light-green-text {
    color: #a5d6a7;
}

.light-green-text:hover {
    color: #4caf50;
    text-decoration: none;
}

.light-green-bg {
    background-color: #a5d6a7;
}

.text-decor-none {
    text-decoration: none;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-button, .green-button {
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 600;
}

.black-button, .green-button:hover {
    color: #a5d6a7;
    background-color: #000000;
}

.green-button, .black-button:hover {
    color: #000000;
    background-color: #a5d6a7;
}

.large-button {
    padding: 15px;
}

.small-button {
    padding: 5px;
}

/*Header*/

#custom-search-group, #custom-search-group-2, #custom-search-icon-wrap, #custom-search-icon-wrap-2 {
    padding: 4px;
    background-color: #ffffff;
    border: none;
    text-align: center;
    color: #000000;
}

#custom-search-group {
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#no-show-btn, #no-show-btn-2 {
   background-color: #ffffff;
   border: none;
}

#brand-name {
    margin-left: 70px;
}

.navbar {
    padding: 20px;
    opacity: 0.8;
}

.hamburger-icon {
    height: 6px;
    width: 40px;
    margin-bottom: 5px;
    background-color: #a5d6a7;
}

.shop-icons-wrap {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Footer*/

.custom-footer {
    min-height: 200px;
    background-color: #000000;
}



/*Media queries*/

@media only screen and (min-width: 768px) {
     .shop-icons-wrap {
         margin: 0;
         float: right;
     }
}

@media only screen and (min-width: 992px) {
    #brand-name {
        margin-left: 10px;
    }
}