.list-image {
    height: 300px;
    width: 100%;
}

.product-image {
    height: 400px;
    width: 100%;
}

.product-list-div {
    border-bottom: 0.5px solid #000000;
    border-right: 0.5px solid #000000;
}