.list-image {
    height: 200px;
    width: 150px;
}

.product-image {
    height: 600px;
    width: 80%;
    padding: 40px;
}

.product-list-div {
    border-bottom: 0.5px solid #bdbdbd;
    border-right: 0.5px solid #bdbdbd;
    margin-left: 5px;
    margin-right: 5px;
}

.write-reviews-div {
    display: none;
}

#show-reviews, #show-write-review {
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: 600;
}

#quantity-input {
    width: 50px;
    font-weight: 600;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px 1px #263238;
    border: none;
    vertical-align: top;
}

#delete-review-modal {
    display: none;
    position: fixed;
    top: 100px;
    z-index: 10000;
    border-radius: 0.25rem;
    border: 0.5px solid #ff8a80;
    background-color: #ffffff;
}

#increase-quantity, #decrease-quantity:hover {
    cursor: pointer;
}