{% extends "base.html" %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shopping_bag/css/shopping_bag.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 main-window">
      <h1 class="text-uppercase text-center my-3">
        Your bag
      </h1>
      <div class="row">
          {% for id, product in context.items %}
          <div class="col-12 my-3">
              <div class="row">
                <div class="col-4">
                    <span>{{ product.product }}</span>
                </div>
                <div class="col-4">
                  <form method="POST" id="update-quantity-form">
                    <span id="csrf-token" class="d-none">{% csrf_token %}</span>   
                    <span>
                      <button id="increase-bag-quantity"  type="submit">
                        <i class="fas fa-plus-square fs-3"></i>
                      </button>
                      <input id="update-quantity-input" name="update-quantity-input" class="text-center" value="{{ product.quantity }}" type="number" min="1" max="10">
                      <button id="decrease-bag-quantity" type="submit">
                        <i class="fas fa-minus-square fs-3"></i>
                      </button>
                    </span>
                         <span id="product-id" class="d-none">{{ product.product.id }}</span>
                    </form>
                </div>
                <div class="col-4">
                    <img class="product-bag-image" src="{{ product.product.image_url }}" alt="{{ product.product.name }}">
                </div>
              </div>
          </div>
          <hr>
          {% endfor %}
      </div>
     
      <div class="row">
        <div class="col-12">
            <p class="text-center fw-bold my-3 text-uppercase">Total Cost:</p>
            <p class="text-center">{{ total_cost }}$</p>
        </div>
        <div class="col-12 text-center">
          <button class="green-button large-button my-5">Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'shopping_bag/js/shopping_bag.js' %}"></script>
{% endblock %}
