{% extends "base.html" %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shopping_bag/css/shopping_bag.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 main-window">
      <h1 class="text-uppercase text-center my-3">
        Your bag
      </h1>
      <div class="row">
          {% for id, product in context.items %}
          <div class="col-12 my-3">
              <div class="row">
                <div class="col-4">
                    <span>{{ product.product }}</span>
                </div>
                <div class="col-4">
                  <form method="POST">
                    {% csrf_token %}
                    <span>
                      <button class="no-bg-button" formaction="{% url 'add_to_quantity' id=product.product.id%}" id="increase-bag-quantity"  type="submit">
                        <i class="fas fa-plus-square fs-3"></i>
                      </button>
                      <input class="text-center" value="{{ product.quantity }}" type="text" inputmode="numeric" min="1" pattern="[0-9]|[10]">
                      <button class="no-bg-button" formaction="{% url 'delete_from_quantity' id=product.product.id%}" type="submit">
                        <i class="fas fa-minus-square fs-3"></i>
                      </button>
                    </span>
                    </form>
                </div>
                <div class="col-4">
                    <img class="product-bag-image" src="{{ product.product.image_url }}" alt="{{ product.product.name }}">
                </div>
              </div>
          </div>
          <hr>
          {% endfor %}
      </div>
     
      <div class="row">
        <div class="col-12">
            {% if not total_cost %}
            <p class="text-center">Your bag is empty</p>
            {% else %}
            <p class="text-center fw-bold my-3 text-uppercase">Total Cost:</p>
            <p class="text-center">{{ total_cost }}$</p>
            {% endif %}
        </div>
        <div class="col-12 my-5 text-center">
          {% if not total_cost %}
          <a class="green-button large-button" href="{% url 'products' %}">Back to products</a>
          {% else %}
          <button class="green-button large-button my-5">Payment</button>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'shopping_bag/js/shopping_bag.js' %}"></script>
{% endblock %}
