{% extends "base.html" %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shopping_bag/css/shopping_bag.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 main-window">
      <h1 class="text-uppercase text-center my-3">
        Your bag
      </h1>
      {% for id, product in context.items %}
          <div>
              {{ product.product }} 
              {{ product.quantity }}
              <img class="product-bag-image" src="{{ product.product.image_url }}" alt="{{ product.product.name }}">
          </div>
          <hr>
      {% endfor %}
      <div class="row">
        <div class="col-12">
            <p class="text-center fw-bold my-3 text-uppercase">Total Cost:</p>
            <p class="text-center">{{ total_cost }}$</p>
        </div>
        <div class="col-12 text-center">
          <button class="green-button large-button my-5">Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
