<div id="custom-footer" class="text-center">
    <div class="mt-3">
        <a class="text-decor-none" href="https://www.youtube.com/" target="_BLANK">
            <i class="fab fa-youtube-square light-green-text fs-1 m-4"><span class="sr-only">YoutTube icon</span></i>
        </a>
         <a class="text-decor-none" href="https://www.instagram.com/" target="_BLANK">
            <i class="fab fa-instagram-square light-green-text fs-1 m-4"><span class="sr-only">Instagram icon</span></i>
        </a>
         <a class="text-decor-none" href="https://twitter.com/" target="_BLANK">
            <i class="fab fa-twitter-square light-green-text fs-1 m-4"><span class="sr-only">Twitter icon</span></i>
        </a>
        <a class="text-decor-none" href="https://www.facebook.com/" target="_BLANK">
            <i class="fab fa-facebook-square light-green-text fs-1 m-4"><span class="sr-only">Facebook icon</span></i>
        </a>
    </div>
    <div>
        <p class="light-green-text">
            Contact us via mail at equipment@gmail.com
        </p>
        <p class="light-green-text">
            Call us at 09424229249
        </p>
    </div>
