<div class="custom-footer text-center">
    <div class="mt-3">
        <a class="text-decor-none" href="">
            <i class="fab fa-youtube-square light-green-text fs-1 m-4"></i>
        </a>
         <a class="text-decor-none" href="">
            <i class="fab fa-instagram-square light-green-text fs-1 m-4"></i>
        </a>
         <a class="text-decor-none" href="">
            <i class="fab fa-twitter-square light-green-text fs-1 m-4"></i>
        </a>
        <a class="text-decor-none" href="">
            <i class="fab fa-facebook-square light-green-text fs-1 m-4"></i>
        </a>
    </div>
    <div>
        <p class="light-green-text">
            Contact us via mail at equipment@gmail.com
        </p>
        <p class="light-green-text">
            Call us at 09424229249
        </p>
    </div>
