{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center form-bg">
            <h1 class="fw-bolder text-uppercase my-3">{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Log
                    in</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="my-4">
                    <button class="light-green-bg black-text fw-bold" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}