{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block main_content %}
<!--Container, row, col, sr, fw, fs, p, m- classes are from Bootstrap-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 main-window">
            <div class="row">
                <div class="col-12 my-4">    
                    <a class="green-button small-button" href="{% url 'products' %}">
                        <i class="fas fa-arrow-circle-left fs-5">
                            <span class="sr-only">Back arrow</span>
                        </i> 
                        Back to products
                    </a>
                </div>
                <div class="col-12 col-lg-6 order-lg-2 text-center">
                    <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">  
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <h4 class="text-uppercase fw-bold mt-5 text-center">{{ product.name }}</h4>
                    <p class="fst-italic text-center">{{ product.manufacturer }}</p>
                    <p class="text-center">
                        {% if product.discount_rate %}
                        {% with prize=product.prize %}
                        <span class="text-decoration-line-through text-center">{{ product.prize }} $</span>
                        {{ prize|mul:product.discount_rate.rate }} $
                        {% endwith %}
                        {% else %}
                        {{ product.prize }} $
                        {% endif %}
                    </p>
                    <p class="text-center">
                        {% if rating %}
                        {% for start in rating_range %}
                            <i class="far fa-star yellow-text"><span class="sr-only">Star</span></i>
                        {% endfor %}
                        {% else %}
                            No rating yet
                        {% endif %}
                    </p>
                    <p class="text-center">{{ product.description }}</p>
                    <form action="{% url 'add_to_bag' id=product.id %}" method="POST" class="text-center my-5">
                        {% csrf_token %}
                        <div>
                            <span class="d-none" id="disabled-plus-button">
                                <i class="fas fa-minus-square fs-3 text-muted"><span class="sr-only">Minus sign</span></i>
                            </span>
                            <i id="increase-quantity" class="fas fa-plus-square fs-3"><span class="sr-only">Plus sign</span></i>
                            <input id="quantity-input" readonly name="quantity-input" class="text-center" value="1" type="text" inputmode="numeric" pattern="[1-9]|[1][0]">
                            <i id="decrease-quantity" class="fas fa-minus-square fs-3 d-none"><span class="sr-only">Minus Sign</span></i>
                            <span  id="disabled-minus-button">
                                <i class="fas fa-minus-square fs-3 text-muted"><span class="sr-only">Minus sign</span></i>
                              </span>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="black-button large-button">Add To Cart</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 mt-5">
                    <button id="show-reviews" class="text-decoration-underline mx-2">Reviews</button>
                    <button id="show-write-review" class="mx-2">Write a review</button>
                    <hr>
                    <div class="row">
                        <div class="reviews-div col-12">
                            {% if reviews %}
                                {% for review in reviews %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row center-div">
                                            <h5 class="fw-bold">{{ review.by_user }}</h5>
                                            <div id="delete-review-modal{{ review.id }}" class="delete-review col-12 text-center">
                                                <p class="my-3">Are you sure you want to delete this review?</p>
                                                <form method="POST" action="{% url 'delete_review' review_id=review.id product_id=product.id%}">
                                                    {% csrf_token %}
                                                    <button class="green-button small-button my-3" type="submit">Delete</button>
                                                </form>
                                                <button id="cancel-delete-review{{ review.id }}" class="green-button small-button my-3">Cancel</button>
                                            </div>
                                            <div class="col-12">
                                                <!--This part was taken from this post on how to loop over a range 
                                                https://django.cowhite.com/blog/numeric-for-loop-in-django-templates/
                                                -->
                                                {% with ''|center:review.rating as range %}
                                                {% for _ in range %}
                                                    <i class="far fa-star"><span class="sr-only">Star icon</span></i>
                                                {% endfor %}
                                                {% endwith %}
                                            </div>
                                            <div class="col-121">
                                                {% if request.user.id == review.by_user.id %}
                                                <button id="delete-review-warn{{ review.id }}" class="no-bg-button custom-a fw-bold">Delete review</button>
                                                <a class="no-bg-button custom-a thick-text" href="{% url 'update_review' review_id=review.id product_id=product.id%}">Edit review</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-12 text-center">{{ review }}</div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                <div class="pagination row">
                                    <div class="col-12 text-center my-3">
                                        {% if reviews.has_previous %}
                                            <a class="mx-2 custom-a" href="?page=1">First</a>
                                            <a class="mx-2 custom-a" href="?page={{ reviews.previous_page_number }}">Previous</a>
                                        {% endif %}
                                        {% if reviews.has_next %}
                                            <a class="mx-2 custom-a" href="?page={{ reviews.next_page_number }}">Next</a>
                                            <a class="mx-2 custom-a" href="?page={{ reviews.paginator.num_pages }}">Last</a>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 text-center my-3">
                                        Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
                                    </div>
                                </div>
                            {% else %}
                                <p class="text-center my-3">No reviews yet</p>
                            {% endif %}
                        </div>
                        <div class="write-reviews-div col-12 text-center">
                            {% if user.is_authenticated %}
                            <form method="POST" action="{% url 'post_review' id=product.id%}">
                                {% csrf_token %}
                                <div class="my-3">
                                    <div><label for="{{ form.rating.id_for_label }}">Rating</label></div>
                                    <div> {{ form.rating }}</div>
                                </div>
                                <div id="review-description">
                                    <div><label for="{{ form.description.id_for_label }}">Description</label></div>
                                    <div>{{ form.description }}</div>
                                </div>
                                <div class="my-3">
                                    <button class="black-button small-button" type="submit">Submit</button>
                                </div>
                            </form>
                            {% else %}
                                <p class="text-center">
                                    <a class="custom-a" href="/accounts/login/">Log in</a> to leave a review
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% for review in reviews %}
<script>
    $("#delete-review-warn{{ review.id }}").click(function() {
        $("#delete-review-modal{{ review.id }}").show();
      });
      $("#cancel-delete-review{{ review.id }}").click(function() {
        $("#delete-review-modal{{ review.id }}").hide();
      });
</script>
{% endfor %}
{% endblock %}