{% extends "base.html"  %}
{% load static %}
{% load mathfilters %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block main_content %}
<!--Container, row, col, sr, fw, fs, p, m- classes are from Bootstrap-->
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 main-window">
            <h2 class="text-center text-uppercase my-3">Products</h2>
            <div class="row">
                <!--Dropdown from Bootstrap-->
                <div class="col-12 col-md-6 my-3">
                    <div class="dropdown text-center">
                        <button class="btn btn-secondary dropdown-toggle black-button" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                            {% for category in categories %}
                            <li>
                                <a class="dropdown-item"
                                    href="{% url 'products' %}?category={{ category }}">{{ category }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 my-3">
                    <div class="dropdown text-center">
                        <button class="btn btn-secondary dropdown-toggle green-button" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><button id="sort-prize" class="dropdown-item">Prize</button></li>
                            <li><button id="sort-popular" class="dropdown-item">Popular</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row px-2">
                {% if all_products %}
                {%  for product in all_products %}
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <div class="row product-list-div">
                        <div class="col-12 text-center">
                            <img class="list-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </div>
                        <div class="col-12 my-2">
                            <p class="text-uppercase text-bold text-center">
                                {{ product.name }}
                            </p>
                            <p class="text-center fst-italic">
                                {{ product.manufacturer }}
                            </p>
                            <p class="text-center">
                                {% if product.discount_rate %}
                                {% with prize=product.prize %}
                                <span class="text-decoration-line-through text-center">{{ product.prize }} $</span>
                                {{ prize|mul:product.discount_rate.rate }} $
                                {% endwith %}
                                {% else %}
                                {{ product.prize }} $
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-12 my-5 text-center">
                            <a href="{% url 'product_page' id=product.id %}" class="black-button large-button">More
                                Info</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p class="text-center fw-bold fs-2 my-3">
                        No search results
                    </p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 text-center my-3">
                    {% if products.has_previous %}
                        <a class="mx-2 custom-a" href="?page=1">First</a>
                        <a class="mx-2 custom-a" href="?page={{ products.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% if reviews.has_next %}
                        <a class="mx-2 custom-a" href="?page={{ products.next_page_number }}">Next</a>
                        <a class="mx-2 custom-a" href="?page={{ products.paginator.num_pages }}">Last</a>
                    {% endif %}
                </div>
                <div class="col-12 text-center my-3">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}