{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 main-window">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2">
                    <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">  
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <p class="my-4">
                        <a class="green-button small-button" href="{% url 'products' %}"><i class="fas fa-arrow-circle-left fs-5"></i> Back to products</a>
                    </p>
                    <p class="text-uppercase mt-5 text-center">{{ product.name }}</p>
                    <p class="fst-italic text-center">{{ product.manufacturer }}</p>
                    <p class="text-center">{{ product.prize }} $</p>
                    <p class="text-center">{{ product.description }}</p>
                    <p class="text-center my-5">
                        <button class="black-button large-button">Add To Chart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}