{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 main-window">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2">
                    <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">  
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <p class="my-4">
                        <a class="green-button small-button" href="{% url 'products' %}"><i class="fas fa-arrow-circle-left fs-5"></i> Back to products</a>
                    </p>
                    <p class="text-uppercase mt-5 text-center">{{ product.name }}</p>
                    <p class="fst-italic text-center">{{ product.manufacturer }}</p>
                    <p class="text-center">{{ product.prize }} $</p>
                    <p class="text-center">{{ product.description }}</p>
                    <form action="{% url 'add_to_bag' id=product.id %}" method="POST" class="text-center my-5">
                        <div>
                            <i id="increase-quantity" class="fas fa-plus-square fs-3"></i>
                            <input id="quantity-input" class="text-center" value="1" type="number" min="1" max="10">
                            <i id="decrease-quantity" class="fas fa-minus-square fs-3"></i>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="black-button large-button">Add To Chart</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2 mt-5">
                    <p>
                        <i class="far fa-star"></i>
                        {% if rating %}
                            {{ rating }}
                        {% else %}
                            No rating yet
                        {% endif %}
                    </p>
                    <button id="show-reviews" class="text-decoration-underline mx-2">Reviews</button>
                    <button id="show-write-review" class="mx-2">Write a review</button>
                    <hr>
                    <div class="row">
                        <div class="reviews-div col-12">
                            {% if reviews %}
                                {% for review in reviews %}
                                    {{ review }}
                                {% endfor %}
                            {% else %}
                                <p class="text-center">No reviews yet</p>
                            {% endif %}
                        </div>
                        <div class="write-reviews-div col-12">
                            {% if user.is_authenticated %}
                            {% else %}
                                <p class="text-center">
                                    <a class="custom-a" href="/accounts/login/">Log in</a> to leave a review
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}